* {
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

:root {
    /*Colors*/

    /*Primary*/
    --light-red: rgb(255, 87, 87);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /*Gradients*/
    --Light-slate-blue: hwb(252 34% 0%);
    --Light-royal-blue: hsl(241, 81%, 54%);

    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    /*Neutral*/
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}
main {
    display: flex;
    width: 734px;
    height: 513px;
    
}
/*Left Box*/
main .result-box {
    width: 50%;
    padding: 40px 60px;
    background-image: linear-gradient(to bottom, var(--Light-slate-blue), var(--Light-royal-blue));
    border-radius: 30px;
    border: 1px solid var(--Cobalt-blue);
}
main .box-title {
    margin: 0;
    color: var(--Light-lavender);
    text-align: center;
    font-size: 23px;
    margin-bottom: 30px;
}
main .result-box .result-number-container {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to bottom, var(--Violet-blue), var(--Persian-blue));
    text-align: center;
    margin: auto;
    border-radius: 100%;
}
main .result-box .result-number-container h1 {
    font-size: 60px;
    color: var(--White);
    margin: 0;
    padding-top: calc(50% - (78px / 2));
}
main .result-box .result-number-container span {
    display: block;
    font-size: 17px;
    margin-top: -3px;
    color: rgba(255, 255, 255, .5);
}
main .result-box .result-feedback {
    text-align: center;
}
main .result-box .result-feedback h2 {
    color: var(--White);
    font-size: 35px;
    margin-bottom: 15px;
}
main .result-box .result-feedback p {
    color: var(--Light-lavender);
    font-size: 17px;
    margin-top: 0;
    
}





.summary-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 40px 40px;
}
.summary-box .box-title {
    text-align: left;
    color: var(--Dark-gray-blue);
    margin-bottom: 0;
}
.summary-box .summary-results-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 272px;
    font-size: 16px;
    
}
.summary-box .summary-results-container .summary-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    border-radius: 12px;
    padding: 0 20px;
    background-color: var(--Pale-blue);
}
.summary-box .summary-results-container .summary-result .result-field {
    display: flex;
    align-items: center;
}
.summary-box .summary-results-container .summary-result .result-field img {
    margin-right: 10px;
}
.summary-box .summary-results-container .summary-result .result-field #reaction {
    color: var(--light-red);
}
.summary-box .summary-results-container .summary-result .result-field #memory {
    color: var(--Orangey-yellow);
}
.summary-box .summary-results-container .summary-result .result-field #verbal {
    color: var(--Green-teal);
}
.summary-box .summary-results-container .summary-result .result-field #visual {
    color: var(--Cobalt-blue);
}
.summary-box .summary-results-container .summary-result .result-points {
    color: #999999;
    
}
.summary-box .summary-results-container .summary-result .result-points span {
    color: var(--Dark-gray-blue);
}

.summary-box .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--Dark-gray-blue), var(--Dark-gray-blue));
    color: var(--White);
    text-decoration: none;
    font-weight: bold;
    border-radius: 40px;
    height: 50px;
    margin-bottom: 17px;
    transition: background-image 1s;
}
.summary-box .button:hover {
    background-image: linear-gradient(to bottom, var(--Light-slate-blue), var(--Light-royal-blue));
}